body {
  overflow-y: scroll !important;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    float: left;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 24px 0 0 66px;
    @media screen and (max-width: 600px) {
      float: left;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      margin: 3.2% 0 0 8.8%;
      img {
        width: 150px;
      }
    }
  }
  .agencyCont {
    padding: 20px 0;
    .head-title {
      height: 82px;
      margin: 83px auto 50px;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
      @media screen and (max-width: 600px) {
        width: 50% !important;
        margin: 20px auto 0 auto !important;
      }
      &:before {
        content: "";
        position: absolute;
        top: 24px;
        left: -126px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background-color: #D9D9D9;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 34px;
        left: -1126px;
        width: 1000px;
        height: 0;
        border-top: 1px solid #A3A3A3;
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
    .agencyMain {
      @media screen and (max-width: 1600px) {
        margin: 0 auto;
        width: 90%;
      }
      div {
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
      }
      .agency-img01 {
        @media screen and (max-width: 1600px) {
          height: 732px;
          background-image: url("../imgs/agency01.png");
          img{
            display: none;
          }
        }
        @media screen and (max-width: 600px) {
          height: 100%;
          background-image: none;
          margin-bottom: 20px;
          img{
            width: 100%;
            display: block;
          }
        }
      }
      .agency-img02 {
        @media screen and (max-width: 1600px) {
          height: 648px;
          background-image: url("../imgs/agency02.png");
          img{
            display: none;
          }
        }
        @media screen and (max-width: 600px) {
          height: 100%;
          background-image: none;
          margin-bottom: 20px;
          img{
            width: 100%;
            display: block;
          }
        }
      }
      .agency-img03 {
        @media screen and (max-width: 1600px) {
          height: 484px;
          background-image: url("../imgs/agency03.png");
          img{
            display: none;
          }
        }
        @media screen and (max-width: 600px) {
          height: 100%;
          background-image: none;
          margin-bottom: 20px;
          img{
            width: 100%;
            display: block;
          }
        }
      }
      .agency-img04 {
        @media screen and (max-width: 1600px) {
          height: 558px;
          background-image: url("../imgs/agency04.png");
          img{
            display: none;
          }
        }
        @media screen and (max-width: 600px) {
          height: 100%;
          background-image: none;
          margin-bottom: 20px;
          img{
            width: 100%;
            display: block;
          }
        }
      }
    }

  }
}