.agency-detail-wrap{
  width: 100%;
  height: 100vh;
  overflow: auto;
  .agency-detail{
    padding: 100px 20px 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
  img{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .center{
    margin: 0 auto 20px;
    display: block;
  }
  .big-img{
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .small-img{
    display: none;
    @media screen and (max-width: 800px) {
      display: block;
    }
  }


}
