*{
  margin:0;
  padding:0;
}

body,.body-wrap{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
}
.container{
  height: 100%;
}
.bg1{
  background: url("./imgs/bg1.png")  top center no-repeat;
  background-size: 100%;
}
.bg2{
  background: url("./imgs/bg2.png")  top center no-repeat;
  background-size: 100%;
}
.bg3{
  background: url("./imgs/bg3.png")  top center no-repeat;
  background-size: 100%;
}
.bg4{
  background: url("./imgs/bg4.png")  top center no-repeat;
  background-size: 100%;
}
.bg5{
  background: url("./imgs/bg5.png")  top center no-repeat;
  background-size: 100%;
}
.bg6{
  background: url("./imgs/bg6.png")  top center no-repeat;
  background-size: 100%;
}